<div class="container py-5">
  <div class="card">
    <div class="card-body py-5">
      <h1 class="text-center py-3">ユーザー設定</h1>
    	<%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |f| %>
  
        <div class="form-group row">
          <%= f.label :name, "ユーザー名", class: "form-label col-5" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "email", :required => true, :pattern => ".*", class: "form-control col-7" %>
        </div>
  
        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "form-label col-5" %>
          <%= f.email_field :email, autocomplete: "email", :required => true, :pattern => ".*", class: "form-control col-7" %>
        </div>
  
        <div class="form-group row">
          <%= f.label :password, "パスワード", class: "form-label col-5" %>
          <%= f.password_field :password, autocomplete: "new-password", :required => true, :pattern => ".*", class: "form-control col-7" %>
        </div>
  
        <div class="form-group row">
          <%= f.label :password_confirmation, "パスワード確認", class: "form-label col-5" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, :pattern => ".*", class: "form-control col-7" %>
        </div>
  
        <div class="actions row">
        <div class="col-5"></div>
          <%= f.submit "変更", class: "btn btn-primary btn-block col-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>