<div class="container">
  <div class="row py-5">
    <div class="mx-auto"><h1 class="">興味のあるスキル</h1></div>
  </div>
  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-2">
        
        <div class="d-flex align-items-center justify-content-center">
          <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ruby</title><path d="<%= skill.image %>"/></svg>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
          <%= skill.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row d-flex align-items-center justify-content-center py-3">
    <%= form_with model: @user_skill,url: user_skills_path, method: :post, local: true do |f| %>

      <div class="row">
        <!--スキルセレクトボックス仮置-->
        <div class="col-9 d-flex align-items-center justify-content-center">
         <%= f.collection_select :skill_id, @skills, :id, :name, { prompt: "-- 選択してください --" }, { class: "form-control", required: true} %>
        </div>

        <%= f.hidden_field :user_id, :value => current_user.id %>

        <div class="col-3"><%= f.submit "追加", class: "btn btn-success btn-lg" %></div>
      </div>
    <% end %>
  </div>
</div>