<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @skill.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @skill.text %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
