<p id="notice"><%= notice %></p>

<h1>Outputs</h1>
<div class="container">
  <div class="row">  
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>スキルタグ</th>
          <th>自己評価</th>
          <th>学習時間</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <% @outputs.each do |output| %>
        <%  @skills.each do |skill| %>
          <tr>
            <td><%= output.title %></td>
            <td><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ruby</title><path d="<%= skill.image %>"/></svg></td>
            <td><%= output.time %><p>時間</p></td>
            <td>
              <span id='view-star' class="col-4 control-label"></span>
                <script>
                $('#view-star').raty({
                  readOnly: true,
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  score: <%= output.self_assessment_score %>,
                });
              </script>
            </td>
            <td><%= output.date %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Output', new_output_path %>
