<div class="container">
  <div class="row py-4">
    <div class="row py-2">
      <div class="pl-5"><h1>投稿一覧</h1></h1></div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>スキルタグ</th>
          <th>自己評価</th>
          <th>学習時間</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <% @outputs.each do |output| %>
          <tr>
            <td>
              <%= link_to output_path(output.id) do %>
              <%= output.title %>
              <% end %>
            </td>
            <td><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ruby</title><path d="<%= output.skill.image %>"/></svg></td>
            <td>
              <span id='view-star-<%= output.id %>'></span>
                <script>
                $('#view-star-<%= output.id %>').raty({
                  readOnly: true,
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  score: <%= output.self_assessment_score %>,
                });
              </script>
            </td>
            <td><%= output.time.round(1) %>時間</td>
            <td><%= output.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>