<p id="notice"><%= notice %></p>

<p>
  <strong>Int:</strong>
  <%= @output.int %>
</p>

<p>
  <strong>Int:</strong>
  <%= @output.int %>
</p>

<p>
  <strong>String:</strong>
  <%= @output.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @output.text %>
</p>

<p>
  <strong>Float:</strong>
  <%= @output.float %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @output.tinyint %>
</p>

<p>
  <strong>Date:</strong>
  <%= @output.date %>
</p>

<%= link_to 'Edit', edit_output_path(@output) %> |
<%= link_to 'Back', outputs_path %>
